body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-image: url("./images/blop-scene3.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
/*Nav and hero styles*/

.hero{
  height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #632626;
}
nav > h1 {
  font-size: 30px;
}
.parag{
  margin: 0px 15px;
  text-align: center;
}

@media screen and (max-width: 480px){
  .parag{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}


/*Dies and main content*/
.dies{
  display: grid;
  grid-template-columns: repeat(5, 50px);
  justify-content: center;
  gap: 50px;
  margin-top: 25px;
}
@media screen and (max-width: 480px){
  .dies{
    padding: 50px;
    gap: 25px;
    padding-left: 9%;
  }
}
.die{
  display: flex;
  justify-content: center;
  background-color: #9D5353;
  border-radius: 15px;
  border: 1px solid #753737;
  padding: 0px 30px;
}

.symbol{
  align-self: center;
  font-weight: bold;
  color: white;
  font-size: 25px;
}
/*Button and Time*/

.button-time{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  gap: 15px;
  justify-items: center;
  align-items: center;
}
.btn{
  grid-column: span 2;
  color: white;
  background: #632626;
  border-radius: 20px;
  border: 3px solid #DACC96;
  font-size: 25px;
  height: 50px;
  width: 150px;
  transition: all .5s ease;
}
.btn:hover{
  color: #632626;
  background: #DACC96;
}
.btn:active{
  transform: translateY(5px);
}

/*Paragraphs and timer*/

.chrono {
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-shadow: -1px 0 rgb(80, 76, 76), 0 1px rgb(80, 76, 76), 1px 0 rgb(80, 76, 76), 0 -1px rgb(80, 76, 76);
}
.best-time{
  color: rgb(233, 233, 233);
  font-weight: bold;
  text-shadow: -1px 0 rgb(80, 76, 76), 0 1px rgb(80, 76, 76), 1px 0 rgb(80, 76, 76), 0 -1px rgb(80, 76, 76);
}